@import 'assets/styles/vars.scss';

// /. imports

.messages-list {
    padding: 0 10px;

    &__template {
        position: relative;
        width: max-content;
        max-width: 75%;
        font-size: 14px;
        padding: 6px 8px 2px 8px;
        background-color: $charleston-green-color;
        color: $bright-gray-color;
        border-radius: 0px 8px 8px 8px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            border-top: 4px solid $charleston-green-color;
            border-left: 6px solid transparent;
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__text {
        margin: 0;
        font-size: 14px;
    }

    &__time {
        display: inline-block;
        text-align: end;
        width: 100%;
        font-size: 11px;
        color: rgba($color: #fff, $alpha: 0.6);
    }

    &__name {
        @extend .messages-list__time;
        text-align: start;
        font-weight: 700;
        font-size: 15px;
        color: $caribbean-green-color;
        margin-bottom: 3px;
    }



}