@import 'assets/styles/vars.scss';
@import 'assets/styles/mixins.scss';

// /. imports

.message-form {

    display: flex;
    justify-content: space-between;

    background-color: $charleston-green-color;
    padding: 24px;
    gap: 10px;

    &__inputs {
        flex: 0 1 80%;
        display: flex;
        flex-direction: column;

        :not(:last-child) {
            margin-bottom: 10px;
        }

    }

    &__text-area {
        min-height: 100px;
        background-color: $outer-space-color;
        color: $light-silver-color;
        padding: 9px 12px;
        border-radius: 8px;
        border: transparent;
        resize: none;
        font-family: inherit;
        font-size: inherit;

        @include stylizedSrollBar;

        &::placeholder {
            color: $cool-grey-color;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    &__button {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        padding: 0;
        border: 1px solid $munsell-green-color;
        border-radius: $genaral-border-radius;
        background-color: transparent;
        transition: $general-transition;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            border-color: $caribbean-green-color;

            svg {
                fill: $caribbean-green-color;
            }
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
            pointer-events: none;

            svg {
                fill: rgba(134, 150, 160, 0.55);
                cursor: not-allowed;
            }
        }

        svg {
            cursor: pointer;
            transition: $general-transition;
            fill: rgba(134, 150, 160, 0.55);
        }

    }
}