@import 'assets/styles/vars';

// /. imports

.input {
    background-color: $outer-space-color;
    color: $light-silver-color;
    padding: 9px 12px;
    border-radius: 8px;
    border: transparent;

    &::placeholder {
        color: $cool-grey-color;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.input_message {
    min-height: 100px;
}