@import 'assets/styles/vars';

// /. imports

.auth-form {

    display: flex;
    flex-direction: column;

    background-color: $charleston-green-color;
    padding: 10px 15px;

    &__group {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        input:first-child {
            margin-bottom: 10px;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            span {
                &:after {
                    background-color: $cadet-blue-color
                }
            }
        }
    }

    &__button {
        position: relative;
        text-align: center;
        padding: 24px;
        border-radius: $genaral-border-radius;
        border: transparent;
        cursor: pointer;
        background-color: $munsell-green-color;
        color: $chinese-black-color;
        font-weight: 700;
        transition: background .25s ease-in-out;
        pointer-events: auto;

        &:hover {
            background-color: $caribbean-green-color;
        }

        &:disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}