$bright-gray-color: #e9edef;
$light-silver-color: #d1d7db;
$cool-grey-color: #8696A0;
$cadet-blue-color: #aebac1;
$chinese-black-color: #0b141a;
$charleston-green-color: #202c33;
$outer-space-color: #2a3942;
$ucla-blue-color: #51608B;
$emerald-color: #63cb77;
$munsell-green-color: #00a884;
$caribbean-green-color: #06cf9c;
$castleton-green-color: #005c4b;

$genaral-border-radius: 24px;
$general-transition: all .25s ease-in-out;