@import './reset';
@import './vars';
@import './mixins';

// /. imports

html {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $bright-gray-color;
    background-color: $chinese-black-color;
    position: relative;
    height: 100%;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image: url(../images/background-img.png);
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
    }
}

#root,
.App,
.page {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    padding: 10px;
}

// /. general-styles

.section-title {
    text-align: center;
    font-weight: 300;
}

.error-markup {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $bright-gray-color;
    font-weight: 500;
    font-size: 22px;
    text-align: center;

    b {
        color: rgba($color: red, $alpha: .6);
    }
}

.chat-section {
    height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__preview {
        position: relative;
        height: 100%;
    }

    &__messages-list {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        @include stylizedSrollBar;
    }

    .loader {
        margin: auto;
    }
}

.auth-section {

    &__controls {
        display: flex;
        justify-content: center;
        align-items: center;

        :not(:last-child) {
            margin-right: 10px;
        }
    }
}